<html>
  <head>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <div class="header">
        <p>Logo</p>
        <p>Github Register Login</p>
      </div>
    </header>
    <div class="banner">
      <ul class="absolute">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>
    </div>
    <nav>
      <ul class="absolute">
        <li>HOME</li>
        <li>ORIFILE</li>
        <li>ABOUT</li>
      </ul>
    </nav>
    <main>
      <section class="flex">
        <div><p>Conetent1</p></div>
        <div><p>Conetent2</p></div>
        <div><p>Conetent3</p></div>
      </section>
      <section class="flex">
        <div><p>Conetent4</p></div>
        <div><p>Conetent5</p></div>
        <div><p>Conetent6</p></div>
        <div><p>Conetent7</p></div>
      </section>
      <section class="flex">
        <div><p>Conetent8</p></div>
        <div><p>Conetent9</p></div>
        <div><p>Conetent10</p></div>
      </section>
    </main>
    <footer>
    &#169; 2018 ife.baidu.com
    </footer>
  </body>
</html>
