html {
  font-size: 20px;
}

header {
  background: black;
  height: 6em;
}

.header,.banner,nav {
  position: relative;
}

header p,.absolute {
  position: absolute;
}

.header {
  width: 960px;
  margin: 0 auto;
}

header p{
  color: white;
}

header p:first-child {
  font-weight: bold;
  font-size: 2em;
  left: 0;
}

header p:last-child {
  right: 0;
  margin-top: 5px;
}

.banner {
  background: green;
  height: 30%;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  display: inline-block;
}

.banner li {
  padding: 5px;
  background: white;
  border: 1px solid;
}

.banner li:nth-child(2) {
  padding-top: 15px;
}

.banner ul {
  bottom: 5px;
  right: 400px; 
}

nav {
  height: 10%;
  border-bottom: 1px solid;
}

nav ul {
  bottom: -1px;
  font-size: 0;
  left: 15%;
}

nav li {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-radius: 20px 20px 0 0;
  background: rgb(232,232,232);
  padding: 20px;
  font-size: 1rem;
}

nav li:nth-child(1) {
  background: white;
}

main {
  width: 70%;
  margin: 10px auto 0;
  height: 40%;
}

.flex {
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
}

main div {
  border: 1px solid;
  flex: 1;
  margin: 0 10px;
}

main p {
  margin: 0;
  padding: 45px 0;
  text-align: center;
}

footer {
  background: rgb(180,180,180);
  color: white;
  height: 200px;
  text-align: center;
  line-height: 200px;
}